
@import url('<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">');

.App {
  font-family: 'Balsamiq Sans', cursive;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.display-flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

button:focus {outline:0;}
